.cardsProduto {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    width:220px;
    height: 320px;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    border: 20px solid white;

    .image-container {
        width: 100%;
        padding-bottom: 70%;
        position: relative;
    }

    .card-image {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
    }

    .text-container {
        padding-top: 10px;
        text-align: center;

        p{
            font-family: "Goudy Old Style";
            font-size: 1.3rem; 
        }

        .product-title{
            color: var(--cor-dourado);
        }

        .product-price{
            color: var(--cor-cinza-texto);
            font-weight: bold;
        }

    }

}