@font-face {
    font-family: 'poppins_semibold';
    font-weight: 600;
    src: url('../assets/fonts/poppins-semibold-webfont.woff2') format('woff2'),
        url('../assets/fonts/poppins-semibold-webfont.woff') format('woff');
}

@font-face {
    font-family: 'inter_bold';
    font-weight: 700;
    src: url('../assets/fonts/inter-bold-webfont.woff2') format('woff2'),
        url('../assets/fonts/inter-bold-webfont.woff') format('woff');
}

@font-face {
    font-family: 'inter_medium';
    font-weight: 500;
    src: url('../assets/fonts/inter-medium-webfont.woff2') format('woff2'),
        url('../assets/fonts/inter-medium-webfont.woff') format('woff');
}