@font-face {
    font-family: "Allura - Regular";
    src: url("../../assets/fonts/Allura-Regular.ttf");
}

@font-face {
    font-family: "Harrigton";
    src: url("../../assets/fonts/HARRINGT.TTF");
}

@font-face {
    font-family: "Goud Old";
    src: url("../../assets/fonts/SortsMillGoudy-Regular.ttf");
}

@font-face {
    font-family: "Playfair";
    src: url("../../assets/fonts/PlayfairDisplay-VariableFont_wght.ttf");
}

:root {
    --cor-principal: #FDE6E8;
    --cor-rosa-secundario: #f6cabc;
    --cor-dourado: #a97f2c;
    --cor-cinza-principal: #9a9a9a;
    --cor-cinza-texto: #7b7b7b;
}

.bodyCPrincipal {
    color: var(--cor-dourado);

    h1 {
        font-family: "Harrigton";
        font-weight: 100;
        text-align: center;
    }

    .bodyCardapio {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header {
        display: flex;
        padding: 0 32px;
        justify-content: space-between;
        align-items: center;
    }

    a {
        text-decoration: none;
        color: var(--cor-cinza-texto);
        font-family: "Goud Old";
        font-size: 18px;
        align-content: center;
    }

    .menu {
        display: flex;
        gap: 16px;
        color: var(--cor-cinza-texto);
    }

    .logo {
        align-content: center;
        text-align: center;
        height: 90px;
        width: 90px;
    }

    .logo img{
        height: 105%;
    }

    .moldurasuperior, .moldurainferior{
        display: flex;
        justify-content: space-between;
        width: 90%;
        position: absolute;
        font-size: 1em;
    }

    .moldurainferior {     
        transform: scaleY(-1);
        position: relative;
    }

    .moldurainferior h1{
        transform: scaleY(-1);
        height: 10%;
        font-family: "Goud Old";
        font-size: 1.5em;
        margin-top: 20px;
        color: var(--cor-cinza-texto);
    }

    .moldura {
        height: 310px;
        margin-top: 20px;
    }

    .molduradireita {
        transform: scaleX(-1);
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 50px;
    }

}