.modal-adicionar {
    display: flex;
    flex-direction: column;
    width: 515px;
    height: 580px;
    border-radius: 10px;
    border: 1px solid #a97f2c;
    background-color: #FFFFFF;
    padding: 28px 20px;
    gap: 30px;

    .area_arquivo {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .arquivo_campo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 220px;
        height: 200px;
        border-radius: 2px;
        background-color: #9A9A9A;
    }

    .icon_arquivo {
        font-size: 64px;
        color: #CBCAC8;
    }

    .input_section {
        display: flex;
        flex-direction: column;
        gap: 30px;

        .input_texto {
            border: 0;
            border-bottom: 1px solid #B3ADA7;
            background: transparent;
            outline: 0;
            width: 75%;
        }
    }

    .select {
        .select_grupo {
            cursor: pointer;
            width: 32%;
            background: none transparent;
            border: 0;
            outline: 0;
            border-bottom: 1px solid black;
        }
    }

    .text_area {
        display: flex;
        align-items: baseline;
        gap: 10px;

        .textarea-field {
            resize: none;
            border: 1px solid black;
            border-radius: 5px;
            height: 97px;
            flex: 1;
        }
    }

    .button_salvar {
        display: flex;
        justify-content: flex-end;
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 98px;
            height: 31px;
            padding: 2px 10px;
            font-size: 16px;
            color: #ffffff;
            background-color: #FF9E87;
            border-radius: 5px;
        }

    }
}