@font-face {
    font-family: "Goud Old";
    src: url("../../assets/fonts/SortsMillGoudy-Regular.ttf");
}

:root {
    --cor-principal: #FDE6E8;
    --cor-rosa-secundario: #f6cabc;
    --cor-dourado: #a97f2c;
    --cor-cinza-principal: #9a9a9a;
    --cor-cinza-texto: #7b7b7b;
}

#basic-button{
    text-decoration: none;
    color: var(--cor-cinza-texto);
    font-family: "Goud Old";
    text-transform: none;
    font-size: 18px;
    align-content: center;
}