.grupo-cardapio {
    display: flex;
    width: 85%;
    gap: 32px;
    flex-direction: column;
    margin: 0;

    .cabecalho-Grupo {
        text-align: center;
        font-size: 40px;
        margin-top: 50px;
    }

    .cabecalho-Grupo h1{
        margin: 0;
    }

    .cabecalho-Grupo p {
        margin: 0;
        font-family: "Goud Old";
        font-weight: bold;
        font-size: 18px;
    }

    .imagens {
        display: flex;
        justify-content: space-around;
        padding: 50px 0;
    }

    .imagens div {
        width: 150px;
        height: 150px;
        border-radius: 16px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    
    .produtos {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    
    .cabecalho {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 22px;
        font-weight: bold;
    }
    
    .cabecalho h3 {
        font-family: "Playfair";
        margin: 0;
    }

    .produto{
        border-bottom: 1px solid #a97f2c3d;
    }

    .produtos p {
        color: var(--cor-cinza-texto);
        margin: 0;
        font-family: "Gould Old";
    }

    .descricao {
        font-size: 1em;
    }
}