.pagina-painel_controle{
    *{
        margin: 0px;
        box-sizing: border-box;
    }

    .sidebar{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        background-color: #FDE6E8 ;
        border-right: 2px solid #A97F2C;
        width: 250px;
        height: 100%;
    }
    .sidebar > nav{
        display: flex;
        flex-direction: column;
    }
    .logo{
        padding: 50px 0px 91px 0px;
    }
    .sidebar_button{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #B1B1B1;
        gap: 36px;
        width: 250px;

        font-family: 'inter_medium';
        font-size: 18px;

        
    }
    .select{
        color: #A97F2C;
    }


    .main_page{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #F5F5F9;
        margin-left: 250px;
        gap: 60px;
    }
    .painel_title{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
        background-color: #FDE6E8;
        color: #A97F2C;
        width: 1200px;
        height: 100px;
        border-radius: 8px;
        border: 2px solid #A97F2C;
        font-family: 'inter_bold';
        font-size: 14px;
    }
    .area_buttonProduto{
        display: flex;
        justify-content: flex-end;
    }
    .cardapio_button{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #FDE6E8;
        color: #A97F2C;
        font-family: 'poppins_semibold';
        padding: 5px 10px;
        border-radius: 10px;
        margin-bottom: 10px;
        font-size: 12px;
        height: 29px;
        width: 155px;
        gap: 5px;
    }

    .tabela{
        display: flex;
        flex-direction: column;
        width: 1200px;
        background-color: #FFFFFF;
        border: 1px solid #FDE6E8;
        border-radius: 12px;
    }
    .tabela_title{
        display: flex;
        flex-direction: row;
        padding: 20px 20px;
        justify-content: space-between;

        font-family: 'inter_bold';
        font-size: 14px;
    }
    .tabela_title > div{
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
    .tabela_title > div a{
        font-family: 'poppins_semibold';
        font-size: 12px;
    }

    .tabela_legenda{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 10px 0px;
        background-color: #F6CABC;

        font-family: 'poppins_semibold';
        font-size: 14px;
    }
    .title_button{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #A97F2C;
        color: #FFFFFF;
        border-radius: 10px;
        padding: 5px 10px;
        font-size: 14px;
        width: 103px;
        height: 29px;
        gap: 10px;
    }
    .produto_button{
        width: 155px;
    }
    .tabela_item{
        display: flex;
        
        align-items: center;
        justify-content: center;
        border-top: 1px solid #F6CABC;
        padding: 20px 0px;
        
        font-family: 'inter_bold';
        font-size: 16px;
    }
    .tabela_item > div{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        max-width: 980px;
        width: 100%;
    }
    
    .area_button{
        display: flex;
        flex-direction: row;
        gap: 10px;
        font-family: 'poppins_semibold';
        font-size: 10px;
    }
    
    .item_button{
        display: flex;
        align-items: center;
        background-color: #A97F2C;
        color: #FFFFFF;
        border-radius: 10px;
        padding: 5px 10px;
        font-size: 10px;
        width: 80px;
        height: 25px;
        gap: 10px;


    }
    .deletar_button{
        background-color: #ff0000;
    }

}